
h1 {
  text-align: center;
}

p {
  font-size: 100px;
  text-align: center;
}

body {
   margin: 0;
   padding: 0;
   color: rgb(47, 47, 47);
 }
 a {
   text-decoration: none;
   color: rgb(47, 47, 47);
 }
.menu {
  height:50px;
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  padding: 5px;
  padding-top: 25px;
  font-size: 15px;
  font-weight: bold;
}
#bodyText {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.textleft {
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  min-width: 300px;
  background-color: rgb(245, 224, 32);
}
.textright {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 200px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: large;
  min-width: 500px;
  background-color: white;
}
